## **Data Types**

Three main types of data in python : int, float, str

In [28]:
num1 = 5
num2 = 6.5
name = 'Nayem'

print(num1, num2, name)

5 6.5 Nayem

**how to check type of a data?**

In [29]:
print(type(num1))
print(type(num2))
print(type(name))

<class 'int'>
<class 'float'>
<class 'str'>

**you can change the data type : its called type casting | type erosion**

In [31]:
print(float(5))
print(int(1.1))
print(int('9'))
# print(int('A')) # cause error

print(int(False))

5.0
1
9
0

**Boolean Data type**

In [30]:
isDone = True
isBusy = False
print(isDone)

print(int(isDone))
print(int(isBusy))

print(bool(1)) # True = 1 and False = 0

True
1
0
True

## **Expression and Variables**

In [17]:
print(5+5)
print(10-4)
print(5*8)
print(11/2) # return float value

10
6
40
5.5

**floor division : returns the quotient as an integer.**

In [23]:
print(10/2) # 5.0

# using double for slash
print(10//2) # 5

print(7/3) # 2.3333
print(7//3) # 2

5.0
5
2.3333333333333335
2

**variables**

In [29]:
my_number = 5
print(my_number)

result = my_number * 5
print(result)

result = result / 2
print(result)

result = 25
result = result // 2 # int division
print(result)

5
25
12.5
12

## **String Operation**

In [30]:
name = 'Nayem Ahmed'
print(name)

Nayem Ahmed

In [32]:
print(name[0])
print(name[10])

N
d

**Can be accessed using negative number as well**

In [35]:
print(name[-1]) # last character
print(name[-11])

d
N

In [36]:
sentence = 'I am Nayem Ahmed'
s_name = sentence[5:10]
print(s_name)

Nayem

In [40]:
# String Stride
stride = sentence[::2] # every second char
print(stride)

# slice
slice = sentence[0:8:2] # every second char upto index 8-1 = 7
print(slice)

Ia ae he
Ia a

find the lenght of string

In [41]:
print(len(sentence))

16

**string Concatenating**

In [44]:
name = 'Nayem'
statement = name + ' is a student'
print(statement)

# replicate / multiply a string
print(3 * name)

Nayem is a student
NayemNayemNayem

**string : immutable**

In [45]:
name = 'Nayem'
name[0] = 'S'
print(name)

TypeError: 'str' object does not support item assignment

In [1]:
# instead you can assign a new string in it
name = 'Sayem'
print(name)

# or
name = name + ' Ahmed'
print(name)

Sayem
Sayem Ahmed

**Escape Sequences**

In [7]:
print('I will span in\ntwo lines')
print('I will use a\t tab space')
print('I have a back slash : \\')

I will span in
two lines
I will use a	 tab space
I have a back slash : \

**String Methods**

In [11]:
sentence = 'this is a new sentence'
# print(sentence)

sentence = sentence.upper()
print(sentence)

THIS IS A NEW SENTENCE

In [13]:
# replace
sentence = sentence.lower().replace('new', 'modified')
print(sentence)

this is a modified sentence

In [18]:
# find
print(sentence.find('is')) # found it in index 2
print(sentence.find('exclude')) # return -1 if not found

2
-1

**Format string in python**

In [32]:
name = 'Nayem'
age = 25

print(f'I am {name} and {age + 1} years old') # modern approach
print('I am {} and {} years old'.format(name, age)) # second system using format
print('I am %s and %d years old' % (name, age)) # oldest approach

I am Nayem and 26 years old
I am Nayem and 25 years old
I am Nayem and 25 years old

**Raw String**
used to tell python to consider \ (backslash) as literal, not **escape sequence**

In [27]:
regular_string = 'C:\folder\file.txt'
print(regular_string) # escape character

# use raw string
raw_string = r'C:\folder\file.txt'
print(raw_string)

C:olderile.txt
C:\folder\file.txt